*~
\#*#
.#*

# autotools artifacts
Makefile.in
/.cache/
/autom4te.cache/
/aclocal.m4
/configure
/gsm_config.h.in
/scripts/compile
/scripts/config.guess
/scripts/config.sub
/scripts/depcomp
/scripts/install-sh
/scripts/ltconfig
/scripts/ltmain.sh
/scripts/missing
/scripts/mkinstalldirs
/scripts/test-driver

# ./configure artifacts
*.Po
*.Plo
Makefile
/config.guess
/config.log
/config.status
/config.sub
/gsm_config.h
/install-sh
/libtool
/ltmain.sh
/po/POTFILES
/stamp-h
/stamp-h1

# build artifacts
*.o
*.la
*.lo
.deps/
.libs/
/apps/gsmctl
/apps/gsmpb
/apps/gsmsendsms
/apps/gsmsmsd
/apps/gsmsmsstore
/doc/gsmctl.1
/doc/gsminfo.7
/doc/gsmpb.1
/doc/gsmsendsms.1
/doc/gsmsmsd.8
/doc/gsmsmsstore.1
/ext/gsmsiectl
/ext/gsmsiexfer

# test artifacts
/tests/*.log
/tests/*.sh.trs
/tests/testcb
/tests/testgsmlib
/tests/testparser
/tests/testpb
/tests/testpb2
/tests/testsms
/tests/testsms2
/tests/testspb
/tests/testssms
/tests/sms.sms
/tests/spb-copy.pb
/tests/spbi2.pb
