*~
\#*#
.#*

# autotools artifacts
/autom4te.cache/
/.cache/
/m4/

# autotools configuration
ABOUT-NLS
Makefile.in
/aclocal.m4
/configure
/gsm_config.h.in
/po/**
!/po/*.po
!/po/gsmlib.pot
!/po/Makevars
!/po/POTFILES.in
/scripts/**
!/scripts/Makefile.am
!/scripts/debugconfig.sh

# ./configure artifacts
*.Plo
*.Po
Makefile
/config.guess
/config.log
/config.status
/config.sub
/gsm_config.h
/install-sh
/libtool
/ltmain.sh
/po/POTFILES
/po/Makefile.in
/stamp-h
/stamp-h1

# build artifacts & binaries
*.la
*.lo
*.o
.deps/
.libs/
/apps/gsmctl
/apps/gsmpb
/apps/gsmsendsms
/apps/gsmsmsd
/apps/gsmsmsstore
/doc/gsmctl.1
/doc/gsminfo.7
/doc/gsmpb.1
/doc/gsmsendsms.1
/doc/gsmsmsd.8
/doc/gsmsmsstore.1
/ext/gsmsiectl
/ext/gsmsiexfer
/po/*.gmo
/po/stamp-po

# test binaries
/tests/testcb
/tests/testgsmlib
/tests/testparser
/tests/testpb
/tests/testpb2
/tests/testsms
/tests/testsms2
/tests/testspb
/tests/testssms

# test artifacts
/tests/*.log
/tests/*.sh.trs
/tests/sms.sms
/tests/spb-copy.pb
/tests/spbi2.pb
